
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: dms-inertia-app
    container_name: DMS
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./:/var/www
    networks:
      - laravel

  webserver:
    image: nginx:alpine
    container_name: nginx-server
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www
      - ./.docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: unless-stopped
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    command: --init-file /docker-entrypoint-initdb.d/dms.sql
    volumes:
      - ./dms.sql:/docker-entrypoint-initdb.d/dms.sql
      - db_data:/var/lib/mysql
    networks:
      - laravel


networks:
  laravel:
    driver: bridge

volumes:
  db_data:
